{% extends "base.jinja2" %}
{% block styles %}
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/forms.css') }}"
            type="text/css"
    />
{% endblock %}

{% block head %}<title>Services Page</title>{% endblock %}

{% block content %}
    <div class="content">
    <h1 style="text-align: center">Service Update</h1>
    <div>
      <form method="POST" action="{{ url_for('view.service_update', id=service.id) }}">
      {{ form.csrf_token }}
        <fieldset class="form-field">
        {{ form.name.label }}
        {{ form.name(value=service.name) }}
        {% if form.name.errors %}
            <ul class="errors">
            {% for error in form.name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        </fieldset>
        <fieldset class="form-field">
        {{ form.price.label }}
        {{ form.price(value=service.price) }}
        {% if form.price.errors %}
            <ul class="errors">
            {% for error in form.price.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        </fieldset>
        {{ form.add }}
      </form>
    </div>

</div>
{% endblock %}
