{% extends "base.jinja2" %}
{% block styles %}
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/forms.css') }}"
            type="text/css"
    />
{% endblock %}

{% block head %}<title>Services Page</title>{% endblock %}

{% block content %}
    <div class="content">
    <h1 style="text-align: center">Services</h1>
    {% if services | length < 1 %}
    <h4 style="text-align: center">There are no services</h4>
    {% else %}
    <table>
        <tr>
        <th>Name</th>
        <th>Pricing</th>
        <th class="action">Update?</th>
        </tr>
        {% for s in services %}
        <tr>
        <td>{{s.name}}</td>
        <td>{{s.price}}</td>
        <td class="action">
            <a href="/services/delete/{{s.id}}">Delete</a>
            <a href="/services/update/{{s.id}}">Update</a>
        </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div>
      <form method="POST" action="{{ url_for('view.service_home') }}">
      {{ form.csrf_token }}
        <fieldset class="form-field">
        {{ form.name.label }}
        {{ form.name }}
        {% if form.name.errors %}
            <ul class="errors">
            {% for error in form.name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        </fieldset>
        <fieldset class="form-field">
        {{ form.price.label }}
        {{ form.price }}
        {% if form.price.errors %}
            <ul class="errors">
            {% for error in form.price.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        </fieldset>
        {{ form.add }}
      </form>
    </div>

</div>
{% endblock %}
