<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sidenav.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="sidenav">
            <a href="/appointments">Appointments</a>
            <a href="/employees">Employees</a>
            <a href="/services">Services</a>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
