{% extends 'base.html' %} {% block head %}
<title>appointments update</title>
{% endblock %} {% block body %}
<div class="content">
  <h1 style="text-align: center">Appointments</h1>
  <form action="/appointments/update/{{appointment.id}}" method="POST">
    Client
    <input type="text" name="client" value="{{appointment.client}}" /> Service
    <select id="service" name="service" value="{{service}}">
      {% for s in serviceList %}
      <option value="{{s.id}}">{{s.name}}</option>
      {% endfor %}
    </select>
    Employee
    <select id="employee" name="employee" value="{{employee}}">
      {% for e in employeeList %}
      <option value="{{e.id}}">{{e.name}}</option>
      {% endfor %}
    </select>
    Appointment <input type="date" name="appt_date" value="{{appt_date}}" />
    <input type="time" name="appt_time" value="{{appt_time}}" />
    Tip<input type="number" name="tip" value="{{appointment.tips}}" />
    <input type="submit" />
  </form>
</div>
{% endblock %}
