{% extends 'base.html' %}
{% block head %}
<title>employees</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Employees</h1>
    {% if employees | length < 1 %}
    <h4 style="text-align: center">There are no employees</h4>
    {% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Update?</th>
        </tr>
        {% for e in employees %}
        <tr>
            <td>{{e.name}}</td>
            <td>
                <a href="/employees/delete/{{e.id}}">Delete</a>
                <a href="/employees/update/{{e.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/employees" method="POST">
        <b>New: </b>
        Name <input type="text" name="name">
        <input type="submit">
    </form>
</div>
{% endblock %}