{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Appointment Logo</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/appointments">Appointments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          {% if user.userLevelId <= 2 %}
          <li class="nav-item">
            <a class="nav-link" href="/employees">Employees</a>
          </li>
          {% endif %}
          {% if user.userLevelId == 1 %}
          <li class="nav-item">
            <a class="nav-link" href="/loginhistory">Login History</a>
          </li>
          {% endif %}
        </ul>
        <a>User: {{user.name}}</a>
        <a class="nav-link" href="/logout">Logout</a>
        {% else %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
{% endblock %}